	.vid_1_text {
	  left: 200;
	  top: 200;	
	  opacity: 0;
	  pointer-events: none; /* don’t block video clicks */
	  position: absolute;
	  transition: opacity 150ms linear;
	}

	.vid_1_wrapper {
	  position: relative;
	}

	.vid_1_wrapper:hover .vid_1 {
	  filter: blur(0px);
	}

	.vid_1_wrapper:hover .vid_1_text {
	  opacity: 1;
	}
